*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  background-color: gray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  box-sizing: border-box;
}

header h1{
  font-size:30px;
  font-family: fantasy;
  font-weight: lighter;
}

header .cart{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}

.cart span{
  position: absolute;
  top: -5px;
  right: -7px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
 
}



.product-card{
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.product-card img{
    width: 250px;
    height: 300px;
    
}
.product-card h1{
    font-size: 20px;
}
.product-card button{
    background-color: cadetblue;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;

}
.product-card button:active{
    background-color:  #fff;

}
.like-icon{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 40px;
}

.products-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 40px auto;
}
.footer{
  width: 100%;
  padding:20px 200px;
  background-color: gray;
  color: #fff;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
}